h1 {
	font-weight: 700;
}

h2.h3 {
	font-weight: 600;
}

section {
	flex-basis: 25%;
}

.d-lg-flex {
	gap: 1em;
}

.list-group {
	min-height: 2em;
}

.list-group-item {
	border: none;

	color: white;
	background-color: rgba(255, 255, 255, 0.15);
}

.list-group-item > button:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.dropdown button.btn {
	border: none;
}

.bi.bi-trash {
	color: white;
}

.btn-group {
	width: fit-content;
}

.d-flex.mb-2 {
	border: 1px solid rgba(255, 255, 255, 0.15);
}

.d-flex.mb-2 > input {
	border: none;

	color: white;
}

.d-flex.mb-2 > input::placeholder {
	color: grey;
}
